/* Styles for Booking component */

.booking {
    max-width: 22%;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.bookingTHead th {
    font-size: 24px;
    padding: 10px 0;
    text-align: center;
}

.bookingTBody td {
    padding: 10px;
}

.booking label {
    display: block;
    font-weight: bold;
}

.booking input[type="date"],
.booking select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.bookingButton {
    background-color: #003459;
    color: #fff;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

    .bookingButton:hover {
        background-color: #f2cc8F;
    }

.text-danger {
    color: red;
}
