/* General styles */

.login {
  max-width: 22%;
  margin: 50px auto;
  background-color: #00171F;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.login-table {
  background-color: #00171F;
}

.loginTHead-custom {
  font-size: 15px;
  color: #23d3cc;
  background-color: #00171F;
  padding: 10px;
}

.loginTHead th {
  font-size: 24px;
  color: #23d3cc;
  background-color: #00171F;
  padding: 10px 0;
  text-align: center;
}

.loginTBody td {
  padding: 10px;
  background-color: #00171F;
  color: #23d3cc;
}

.login label {
  display: block;
  font-weight: bold;
  color: #23d3cc
}

.login input[type="text"],
.login input[type="password"] {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.loginpageButton {
  text-align: center;
  color:#23d3cc;
}

.buttonLogin,
.buttonSignUp {
  background-color: #003459;
  color: #fff; 
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

  .buttonLogin:hover,
  .buttonSignUp:hover {
    background-color: #f2cc8F;
  }

.logged-in-user {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  color: #23d3cc;
  background-color: #00171F;
}

  .logged-in-user span {
      font-weight: bold;
      color: #23d3cc;
      background-color: #00171F;
  }