.container {
  background-color: #00171F;
  color: white;
  padding: 20px;
}

h1, h2, h5 {
  color: #22d3cc;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #22d3cc;
}

input[type="text"],
input[type="email"],
textarea {
  width: calc(50% - 20px); /* Half the page width with some padding */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff; /* Lighter background color */
  color: #00171F;
  resize: none; /* Prevent resizing of textarea */
}

.contact-btn-custom {
  background-color: #003459;
  color: #fff;
  margin: auto;
  width: 130px;
  height: 40px;
  font-size: 16px;
}

.contact-btn-custom:hover {
  background-color: #f2cc8f;
}