@import '@fortawesome/fontawesome-free/css/all.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  color: #fff;
}

body {
  background-color: #00171F;
}

.landing-p-custom {
  margin: 10px 0;
  font-size: 75px;
  color: #22d3ee;
  text-emphasis: bold;
}


.card-custom {
  background-color: #E07A5F;
  width: 30%;
  margin-top: 75px;
  margin-left: 20px;
  margin-right: 20px;
}

.card-text-custom {
  margin: 5px 0 auto
}

.navbar-custom {
  background-color: #22d3ee;
}

.nav-link-custom {
  color: #003459;
  font-size: 20px;
}

.btn-custom {
  background-color: #003459;
  color: #fff;
  margin: 5px;
  width: 110px;
  height: 40px;
  font-size: 16px;
  
}

.btn-custom:hover {
  background-color: #f2cc8F;
}

.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon-button:hover {
  background-color: #22d3ee;
}

.icon-custom {
  font-size: 15px;
  margin: 5px;
  margin-right: 5px;
  color: #003459;
}

.icon-rotate {
  transform: rotate(270deg);
}




