#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  color: #fff;
}

body {
  background-color: #00171F;
}

.card-custom {
  background-color: #E07A5F;
}

.navbar-custom {
  background-color: #22d3ee;
}

.nav-link-custom {
  color: #003459;
  font-size: 34px;
  margin-right: 25px;
}

.btn-custom {
  background-color: #003459;
  color: #fff;
}




